a.button,
.button {
  font-weight: bold;
  @extend %button;
  @extend %button-transition;
  @extend %border-radius;
  @extend %border;

  &.is-wide {
    padding-right: 8em;
    padding-left: 8em;
  }

  &.is-outlined {
    background: transparent;
    color: #fff;
    border-color: #fff;

    &:focus,
    &:hover {
      background: #fff;
      color: $black;
      @extend %border;
    }
  }
}

button {
  cursor: pointer;
}


ul.button-group {
  display: flex;
  // background: #fff;
  overflow: hidden;

  @extend .nav;
  @extend %border-radius;
  @extend %border;
  @extend %box-shadow;

  > li {
    padding: 0;
    @extend %button-transition;
    @extend %button;

    > a {
      display: block;
      padding: $button-padding;
      text-decoration: none;
    }
  }

  > li:not(:first-child) {
    > a {
      position: relative;

      &::before {
        content: '';
        border-left: 2px solid $gray;
        height: 1.4em;
        position: absolute;
        left: -0.1em;
        margin-top: -0.2em
      }
    }
  }
}
