*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: #fff;
}

body {
  overflow-x: hidden;

  &.lock-scroll {
    overflow: hidden;
  }
}

html,
body {
  color: $black;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
